.card-addons {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid var(--light-gray);
  padding: 13px 15px 13px 15px;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.card-addons:hover,
.card-addons:focus {
  border-color: var(--purplish-blue);
  outline: none;
}

.card-addons--selected {
  border-color: var(--color02);
  background-color: var(--color06);
}

.card-addons__input {
  width: 20px;
  height: 20px;
  border: 1px solid var(--light-gray);
  position: relative;
  border-radius: 5px;
  background-color: transparent;
  outline: none;
  margin: 0 15px 0 0;
}

.card-addons__input:focus {
  border-color: var(--purplish-blue);
}

.card-addons__input:checked {
  background-color: var(--purplish-blue);
  transition: all 0.35s ease;
  border: none;
}

.card-addons__input:checked:before {
  position: absolute;
  display: block;
  content: url("../assets/images/icon-checkmark.svg");
  left: 4px;
  border: none;
  outline: none;
}

.card-addons__description {
  display: block;
  font-weight: 400;
  font-size: 0.78rem;
  color: var(--cool-gray);
}

.card-addons__label {
  font-weight: 700;
  font-size: 0.9rem;
  color: var(--marine-blue);
  margin: 0 0 3px 0;
}

.card-addons__price {
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--color07);
}

.card-addons__descriptions {
  margin: 0 auto 0 0;
}

@media screen and (min-width: 780px) {
  .card-addons {
    padding: 18px 22px 19px 22px;
  }

  .card-addons__label {
    font-size: 1rem;
    margin: 0 0 6px 0;
  }

  .card-addons__description {
    font-weight: 500;
    font-size: 0.9rem;
  }

  .card-addons__price {
    font-weight: 500;
    font-size: 0.9rem;
    padding: 3px 0 0 0;
  }

  .card-addons__input {
    margin: 0 24px 0 0;
  }
}
