.step-indicator__container{
    display: none;
}

.step-indicator__number{    
    display: block;
    background-color: transparent;
    font-size: 0.95rem;
    font-weight: 700;
    color: var(--white);
    border: 1px solid var(--alabaster);
    padding: 6px 12px 8px 12px;
    text-align: center;
    border-radius: 50%;
}

.step-indicator__number--active{
    transition: all 0.35s ease;
    background-color: var(--active-step-color);
    border-color: transparent;
    color: var(--marine-blue);
}