.form-group__label {
  margin: 0 0 4px 0;
  font-size: 0.8rem;
  color: var(--marine-blue);
  font-weight: 400;
}

.form-group__input {
  border: 1.5px solid var(--light-gray);
  font-weight: 500;
  font-size: 1rem;
  padding: 8px 14px 11px 14px;
  color: var(--marine-blue);
  border-radius: 3px;
  cursor: pointer;
}

.form-group__input:valid,
.form-group__input:invalid {
  transition: all 0.35s ease;
  outline: none;
}

.form-group__input:invalid,
.form-group__input:valid {
  border-width: 2px;
}

.form-group__input:valid {
  border-color: #8a85c8;
}

.form-group__input:invalid {
  border-color: var(--border-color-invalid);
}

.form-group__input::placeholder {
  color: #a1a0a4;
  font-weight: 500;
  font-size: 1rem;
}

.form-group:nth-of-type(-n + 2) {
  margin: 0 0 14px 0;
}

.form-group__wrapper-labels {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 4px 0;
}

.form-group__error {
  display: block;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--strawberry-red);
}

.form-group__wrapper-labels .form-group__label {
  margin: 0;
}

@media screen and (min-width: 780px) {
  .form-group:nth-of-type(1) {
    padding: 1px 0 0 0;
  }

  .form-group__label {
    margin: 0 0 7px 0;
    font-size: 0.9rem;
    font-weight: 500;
  }

  .form-group__wrapper-labels {
    margin: 0 0 7px 0;
  }

  .form-group__input {
    font-size: 1rem;
    padding: 13px 14px 14px 14px;
    color: var(--marine-blue);
    border-radius: 3px;
    cursor: pointer;
  }

  .form-group__input::placeholder {
    font-size: 1.05rem;
  }

  .form-group:nth-of-type(-n + 2) {
    margin: 0 0 23px 0;
  }

  .form-group__input:invalid,
  .form-group__input:valid {
    padding: 13px 14px 13px 14px;
  }

  .form-group__error {
    font-size: 0.9rem;
    font-weight: 700;
    color: #c6374b;
  }
}
